{% extends 'base.html.twig' %}

{% block Navigation %}

			<li ><a href="{{ path ('dmc_devis_homepage') }}">Home</a></li>
			<li ><a href="{{ path ('dmc_crud_homepage') }}">Gestion DMC</a></li>

			{# Classification Article #}
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"> Classification Article <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{{ path ('dmc_crud_classificationsRessources_view') }}">Afficher</a></li>
					<li><a href="{{ path ('dmc_crud_classificationsRessources_insert') }}">Ajouter</a></li>
					<li><a href="#">Modifier</a></li> 
					<li><a href="#">Supprimer</a></li> 
				</ul>
			</li>

			{# Article #}
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"> Article <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{{ path ('dmc_crud_ressources_view') }}">Achats</a></li>
					<li><a href="{{ path ('dmc_crud_ressources_view') }}">Composés</a></li>
					<li><a href="{{ path ('dmc_crud_ressources_view') }}">Famille</a></li>
					<li><a href="{{ path ('dmc_crud_ressources_insert') }}">Ajouter</a></li>
					<li><a href="#">Modifier</a></li> 
					<li><a href="#">Supprimer</a></li> 
				</ul>
			</li>

			{# Clients #}
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"> Clients <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{{ path ('dmc_crud_clients_view') }}">Afficher</a></li>
					<li><a href="{{ path ('dmc_crud_clients_insert') }}">Ajouter</a></li>
					<li><a href="#">Modifier</a></li> 
					<li><a href="#">Supprimer</a></li> 
				</ul>
			</li>

			{# Société #}
			<li class="active dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"> Sociétés <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{{ path ('dmc_crud_societes_view') }}">Afficher</a></li>
					<li><a href="{{ path ('dmc_crud_societes_insert') }}">Ajouter</a></li>
					<li><a href="#">Modifier</a></li> 
					<li><a href="#">Supprimer</a></li> 
				</ul>
			</li>
{% endblock %}