{% extends 'base.html.twig' %}

{% block Header %}
	<h1>Clients</h1>
{% endblock %}

{% block Application %}
	{# Messages notif #}
	{%  for flashMessage in app.session.flashbag.get('notice')  %}
		<div class="success alert-success" role="alert">
			{{ flashMessage }}
		</div>
	{% endfor %}

	<div id="backtable">
		<table class="table">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Adresse</th>
					<th>Ville</th>
					<th>Code postal</th>
					<th>Pays</th>
					<th>Boite postale</th>
					<th>Téléphone</th>
					<th>E-mail</th>
				</tr>
			</thead>
			<tbody>
			  	{% for client in clients %}
			  	<input type="hidden" id="client" value={{ client.id }} />
			    <tr class="ligne">
				    <td>{{ client.nom }}</td>
				    <td>{{ client.adresse }}</td>
				    <td>{{ client.ville }}</td>
				    <td>{{ client.codepostal }}</td>
				    <td>{{ client.pays }}</td>
					<td>{{ client.boitepostal }}</td>
				    <td>{{ client.telephone }}</td>
				    <td>{{ client.email }}</td>
				</tr>
		 		{% endfor %}
		 	</tbody>
		</table>
	</div>
{% endblock %}