<tr class="ligne">
	<td style="width:8%;">{{ form_widget(ligne.type, {'attr': {'class': 'form-control'}}) }}</td>
	<td style="width:2%;">{{ form_widget(ligne.positionmaitre, {'attr': {'class': 'form-control'}}) }}</td>
	<td style="width:2%;">{{ form_widget(ligne.position, {'attr': {'class': 'form-control'}}) }}</td>
	<td style="width:5%;">{{ form_widget(ligne.article, {'attr': {'class': 'form-control'}}) }}</td>
	<td>{{ form_widget(ligne.libelle, {'attr': {'class': 'form-control'}}) }}</td>
	<td style="width:5%;">{{ form_widget(ligne.unite, {'attr': {'class': 'form-control'}}) }}</td>
	<td style="width:5%;">{{ form_widget(ligne.quantite, {'attr': {'class': 'form-control'}}) }}</td>
	<td style="width:6%;">{{ form_widget(ligne.puHt, {'attr': {'class': 'form-control'}}) }}</td>
	<td style="width:6%;">{{ form_widget(ligne.totalHt, {'attr': {'class': 'form-control'}}) }}</td>
	<td style="width:1%;">{{ form_widget(ligne.souligne, {'attr': {'class': 'form-control'}}) }}</td>
	<td style="width:1%;">{{ form_widget(ligne.gras, {'attr': {'class': 'form-control'}}) }}</td>
	<td style="width:1%;">{{ form_widget(ligne.italique, {'attr': {'class': 'form-control'}}) }}</td>
	<td style="width:1%;">{{ form_widget(ligne.affprix, {'attr': {'class': 'form-control'}}) }}</td>
	<td style="width:1%;">{{ form_widget(ligne.affqte, {'attr': {'class': 'form-control'}}) }}</td>
	<!--<td style="width:8%;">{{ form_widget(ligne.idEntete, {'attr': {'class': 'form-control'}}) }}</td>-->
</tr>