<tr class="ligne">
	
	<td style="width:5%;">{{ form_widget(ligne.idComposant.designation, {'attr': {'class': 'form-control'}}) }}</td>
	<td style="width:5%;">{{ form_widget(ligne.quantite, {'attr': {'class': 'form-control'}}) }}</td>


	{#
		<td style="width:2%;">{{ form_widget(ligne.idArticle, {'attr': {'class': 'form-control'}}) }}</td>


		<td>{{ form_widget(compose.designation, {'attr': {'class': 'form-control'}}) }}</td>
		<td style="width:5%;">{{ form_widget(compose.unite, {'attr': {'class': 'form-control'}}) }}</td>
		<td style="width:5%;">{{ form_widget(compose.quantite, {'attr': {'class': 'form-control'}}) }}</td>
	    <td style="width:8%;">{{ form_widget(compose.prix, {'attr': {'class': 'form-control'}}) }}</td>
	#}
    {#<!--<td style="width:5%;">{{ form_widget(compose.estcompose, {'attr': {'class': 'form-control'}}) }}</td>-->#}
    {#<!--<td style="width:8%;">{{ form_widget(ligne.idEntete, {'attr': {'class': 'form-control'}}) }}</td>-->#}
</tr>