{% extends 'base.html.twig' %}


{% block Header %}
	<h1>Devis</h1>
{% endblock %}

{% block Application %}
	<div id="formulaire">
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

		{# Les erreurs générales du formulaire. #}
		{{ form_errors(form) }}

		{# FORM SOCIETE #}
		<div id="formsocietes">
			<span>Société</span>
			<div id="formsocietesblock">
				<div class="form-group">
				  {# Génération du label. #}
				  {{ form_label(form.id_societe, "Société : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

				  {# Affichage des erreurs pour ce champ précis. #}
				  {{ form_errors(form.id_societe) }}

				  <div class="col-sm-4">
					{# Génération de l'input. #}
					{{ form_widget(form.id_societe, {'attr': {'class': 'form-control'}}) }}

					{#{{ dump(form.id_societe.vars['choices']) }}#}
				  </div>

				</div>

				<div class="form-group">
				  {{ form_label(form.intitule_devis, "Titre : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
				  {{ form_errors(form.intitule_devis) }}
				  <div class="col-sm-4">
					{{ form_widget(form.intitule_devis, {'attr': {'class': 'form-control'}}) }}
				  </div>
				</div>

				<div class="form-group">
				  {{ form_label(form.id_client, "Client : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
				  {{ form_errors(form.id_client) }}
				  <div class="col-sm-4">
					{{ form_widget(form.id_client, {'attr': {'class': 'form-control'}}) }}
				  </div>
				</div>
			</div>
		</div>  

		{# FORM LIGNES #}
		<div id="formlignes">
			<span>Contenu devis</span>
			<div id="backtable">
				<table class="table">
					<thead>
						<tr>
							<th>Type</th>
							<th>Position Maître</th>
							<th>Position</th>
							<th>Article</th>
							<th>Libellé</th>
							<th>Unité</th>
							<th>Quantité</th>
							<th>Prix Unitaire HT</th>
							<th>Total HT</th>
							<th>Souligné</th>
							<th>Gras</th>
							<th>Italique</th>
							<th>Afficher Prix</th>
							<th>Afficher Quantité</th>
							<th>Supprimer ligne</th>
							<!--<th>En-tête</th>-->
						</tr>
					</thead>
					<tbody>
						<div id="collectionContainer"
							data-prototype="
								{% filter escape %}
									{{ include('DMCDevisBundle:DataPrototype:lignesDevisPrototype.html.twig', { 'ligne': form.lignes.vars.prototype }) }}
								{% endfilter %}">
						</div>
				 	</tbody>
				</table>
				<label>Ajouter une ligne</label>
				{# href => {{ path('LignesDevisType_add') }} #}
				<a href="#" id="ajout_ligne" class="btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
			</div>
		</div>
		<div>
			{{ form_widget(form.lignes, {'attr': {'class': 'hidden'}}) }}
		</div>

	  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
	  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

	  {# Génération automatique des champs pas encore écrits.
		 Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
		 et tous les champs cachés (type « hidden »). #}
	  {{ form_rest(form) }}
	  
	  {# Fermeture de la balise <form> du formulaire HTML #}
	  {{ form_end(form) }}
	</div>

	{# JAVASCRIPT #}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{% endblock %}